.container {
  margin-top: 20px;
  padding: 25px;
}

.card {
  border: 1px solid #fff;
  height: 500px;
  width: 500px;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50px;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/012/786/original/sky.jpg?1626101319")
    midnightblue;
}

.days {
  font-size: larger;
  font-weight: bold;
  padding-left: 0%;
}

.vLine {
  border-left: 2px solid #8ca69b;
  height: 400px;
  margin-left: 5%;
}

button {
  margin: 10px 0 0 55px;
}

.btn-primary {
  border: thick double #8ca69b;
  background: transparent;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background: #8ca69b;
  border: thick double #18525e;
  color: #18525e;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌎</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
