.container {
  margin-top: 20px;
  padding: 25px;
}

.card {
  border: 1px solid #fff;
  height: 500px;
  width: 500px;
  padding: 10px 40px 10px 10px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50px;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/012/786/original/sky.jpg?1626101319")
    midnightblue;
}

.card-body {
  font-family: "Hachi Maru Pop", cursive;
}

.days {
  text-align: center;
}

.day-one, .day-two, .day-three, .day-four, .day-five {
  font-weight: bold;
}

.day-one:hover,
.day-two:hover,
.day-three:hover,
.day-four:hover,
.day-five:hover {
  background: linear-gradient(#8ca69b, #18525e);
  border-radius: 15px;
  height: 80px;
  width: 200px;
  }

.day-one-img,
.day-two-img,
.day-three-img,
.day-four-img,
.day-five-img {
  width: 12px;
  height: 12px;
}

.combined-col {
  display: flex;
  padding: 0 0 0 10px;
}

.vLine {
  border-left: 2px solid #8ca69b;
  height: 450px;
  width: 45px;
  margin-left: 20%;
}

button {
  margin: 10px 0 0 50px;
}

.btn-primary {
  border: thick double #8ca69b;
  background: transparent;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background: #8ca69b;
  border: thick double #18525e;
  color: #18525e;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌎</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.tampa {
  font-size: 45px;
  text-align: center;
}

.main-day {
  text-align: center;
}

.main-temp {
  font-size: 30px;
  text-align: center;
}

img {
  width: 60px;
}
.days {
  font-size: larger;
  font-weight: bold;
  padding-left: 0%;
}

.temp-details {
  text-align: center;
}
.change-temp {
  white-space: nowrap;
  display: block;
  margin: 0 auto;
}

<!-- -->